## Libraries

it is a set of function, modules and classes, where it has some pre-written codes to perform some tasks

## Pandas library

This librbray used to perform data analysis task

In [ ]:
pip install pandas
# pip stands for preferred installer program

In [8]:
import pandas as pd

In [10]:
insurance_charges = pd.read_csv(filepath_or_buffer = "insurance.csv")

In [11]:
insurance_charges

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## numpy - numerical operations

In [12]:
import numpy as np

In [15]:
np.repeat(a = insurance_charges, repeats = 2, axis = 1  )

array([[19, 19, 'female', ..., 'southwest', 16884.924, 16884.924],
       [18, 18, 'male', ..., 'southeast', 1725.5523, 1725.5523],
       [28, 28, 'male', ..., 'southeast', 4449.462, 4449.462],
       ...,
       [18, 18, 'female', ..., 'southeast', 1629.8335, 1629.8335],
       [21, 21, 'female', ..., 'southwest', 2007.945, 2007.945],
       [61, 61, 'female', ..., 'northwest', 29141.3603, 29141.3603]],
      dtype=object)

In [16]:
insurance_data_updated = pd.DataFrame( data = np.repeat(a = insurance_charges, repeats = 2, axis = 1  ) )

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,19,19,female,female,27.9,27.9,0,0,yes,yes,southwest,southwest,16884.924,16884.924
1,18,18,male,male,33.77,33.77,1,1,no,no,southeast,southeast,1725.5523,1725.5523
2,28,28,male,male,33.0,33.0,3,3,no,no,southeast,southeast,4449.462,4449.462
3,33,33,male,male,22.705,22.705,0,0,no,no,northwest,northwest,21984.47061,21984.47061
4,32,32,male,male,28.88,28.88,0,0,no,no,northwest,northwest,3866.8552,3866.8552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,50,male,male,30.97,30.97,3,3,no,no,northwest,northwest,10600.5483,10600.5483
1334,18,18,female,female,31.92,31.92,0,0,no,no,northeast,northeast,2205.9808,2205.9808
1335,18,18,female,female,36.85,36.85,0,0,no,no,southeast,southeast,1629.8335,1629.8335
1336,21,21,female,female,25.8,25.8,0,0,no,no,southwest,southwest,2007.945,2007.945
1337,61,61,female,female,29.07,29.07,0,0,yes,yes,northwest,northwest,29141.3603,29141.3603

## matplotlib,seaborn,plotly
these are dats visualization libraries

In [17]:
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [18]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.5-cp38-cp38-win_amd64.whl (7.5 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.7-cp38-cp38-win_amd64.whl (55 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\danie\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (2.9.0.post0)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.1.1-cp38-cp38-win_amd64.whl (477 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.57.0-cp38-cp38-win_amd64.whl (1.5 MB)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\danie\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (6.4.5)
Collecting cycler>=0.10
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\danie\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: numpy<2,>=1.20 in c:\users\danie\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.24.4)
Collecting pillow>=6.2.0
  Downloading pillow-10.4.0-cp38-cp38-win_amd64.whl (2.6 MB)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Requirement already satisfied: zipp>=3.1.0 in c:\users\danie\appdata\local\programs\python\python38\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.2)
Requirement already satisfied: six>=1.5 in c:\users\danie\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.1 cycler-0.12.1 fonttools-4.57.0 kiwisolver-1.4.7 matplotlib-3.7.5 pillow-10.4.0 pyparsing-3.1.4
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\users\danie\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [20]:
from matplotlib import pyplot as plt

In [ ]:
plt.hist(x = insurance_charges )

## two types of datatype
1. discrete - countable, it will never have any units, you cant mesaure that
2. continuous - it will have units and it is measurable

# seaborn